body {
	background-color:midnightblue;
	margin:0;
	color:white;
}

.img-responsive {
	height: 50px;
	width: 100px;
	margin-left: 20px;
}

.navbar-collapse {
	margin-left: 20px;
}

#navbar-container{
	background-color: black;
	max-width: 2400px;
	border-bottom-color: grey;
	border-bottom-width: 5px;
	border-bottom-style: ridge;
}

#navbar {
	background-color: black;
	margin: 0 auto;
	max-width: 1600px;
}

#content{
	background-color:black;
	max-width: 2400px;
}

#content-header{
	padding-top:20px;
	padding-bottom: 80px;
	background-position: center center;
	height:auto;
	width:auto;
	opacity: 0.6;
	background-repeat: no-repeat;
	background-color: black;
	background-image: url("images/cars.jpeg");
	background-size:cover;
	font-family: Helvetica, Arial, sans-serif;
	#border-bottom-color: grey;
	#border-bottom-width: 5px;
	#border-bottom-style: ridge;
}

#ready{
	background-color:rgba(0,0,255,0.05);
	text-transform: uppercase;
	text-shadow: black 4px 6px 5px;

}

.phone-numbers{
	#background-color:green;
	text-shadow: black 4px 6px 5px;
}

.phone-image{
	max-width: 100%;
	max-height: 100%;
}

#content-center{
	border-top-color: black;
	border-top-width: 2px;
	border-top-style: ridge;
	background-color: slategray;
}

#content-center .col-10{
	padding:20px;
	border-color: black;
	border-width: 10px;
	border-style: ridge;
	background-color:midnightblue;
	margin-top:20px;
	margin-bottom: 20px;
}

#content-slider {
	height: 700px;
	background-color: slategray;
	text-align: center;
}

#content-slider-top {
	height: 600px;
	padding-top: 50px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	width: 24px;
	height: 24px;
}

#content-slider-bottom {
	height: 100px;
}

@media (min-width: 760px) {
	#content{
		font-size:50px;
	}
	#ready{
		font-size: 70px;
	}
}