body {
	background-color: grey;
   	background-image: linear-gradient(black, #0066cc);
	margin:0;
	color:white;
}

.img-responsive {
	height: 50px;
	width: 100px;
	margin-left: 20px;
}

.navbar-collapse {
	margin-left: 20px;
}

#navbar-container{
	background-color: black;

}

#navbar {
	background-color: black;
	margin: 0 auto;
	max-width: 1600px;
}

#content{
	background-color:black;
}

#content-header{
	padding:50px;
	background-position: center center;
	height:auto;
	width:auto;
	opacity: 0.6;
	background-repeat: no-repeat;
	background-color: black;
	background-image: url("images/cars.jpeg");
	background-size:cover;
	font-family: Helvetica, Arial, sans-serif;
}

#ready{
	background-color:red;
	text-transform: uppercase;
	text-shadow: rgb(0,0,0) 4px 6px 17px;

}

.phone-numbers{
	background-color:green;
}
.phone-icon{
	background-color: blue;
}



@media (min-width: 760px) {
	#content{
		font-size:50px;
	}
}